body {
    font-family: 'Cabin', sans-serif;
}

.form-control {
    height: 40px;
    font-size: 17px;
    border: 2px solid #CA4CFF;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid #65267F;
}

.btn {
    height: 40px;
    font-size: 17px;
    background-color: white;
    border: 2px solid #CA4CFF;
}

.btn:hover {
    border: 2px solid #65267F;
}

.panel > .panel-heading {
    background-image: none;
    background-color:#CA4CFF;
    color: white;
}

.panel {
    border: 1px solid #CA4CFF;
}

.jumbotron {
    background-color: #CA4CFF;
    color: white;
}

a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}

a:hover > .panel {
    border: 1px solid #B400FF;
}

a:hover > .panel > .panel-heading {
    background-image: none;
    background-color: #B400FF;
    color: white;
}
a:active {
    text-decoration: none;
    color: black;
}

hr {
    margin-top: 50px;
}